body {
    background-image: url("../images/light-wool.png");
    background-attachment: fixed;
}

.navbar {
    box-shadow: 0 2px 5px #000;
}

.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
}

.nav-item {
    border: 1px solid #343A40; /* Match bkg color to make invisible */
}

.nav-item:hover {
    border: 1px solid #CCCECF;
    border-radius: 5px;
}

.nav-item:active {
    background-color: #222529;
}

.jumbotron {
    box-shadow: 0 2px 5px #000;
    color: #343A40;
}

.sidesplash {
    width: 100%;
}

.project {
    border: 1px solid #343A40;
    box-shadow: 0 2px 5px #000;
}

footer {
    background-color: #343A40;
    color: #9A9DA0;
    text-align: center;
    box-shadow: 0 -2px 5px #000;
}

a {
    color: #9A9DA0;
}

a:hover {
    color: #DBDBDB;
}
