* {
    /* box-sizing: border-box; */
}

h1 {
    font-size: 12rem;
}

html {
    /* font-family: 'Poiret One', cursive; */
    /* font-size: 16px; */
}

body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
}

.navbar {
    box-shadow: 0 2px 5px #000;
}

.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
}

.nav-item {
    border: 1px solid #343A40; /* Match bkg color to make invisible */
}

.nav-item:hover {
    border: 1px solid #CCCECF;
    border-radius: 5px;
}

.nav-item:active {
    background-color: #222529;
}

footer {
    background-color: #343A40;
    color: #9A9DA0;
    text-align: center;
}

a {
    color: #9A9DA0;
}

a:hover {
    color: #DBDBDB;
}
